<div class="panel panel-default">
	<div class="panel-heading">
		Nutty Dynamic Title
	</div>
	<div class="panel-body">
		<h5>Shannon Kliffmueller</h5>
		<p>Stuff about me will come later</p>
		<span>Contact Stuff?</span>
	</div>
</div>
<ul>
	<li><a href="">Project 1</a>
		<ul>
			<li><a href="">Step 1</a></li>
			<li><a href="">Step 2</a></li>
		</ul>
	</li>
	<li><a href="">List</a></li>
	<li><a href="">List</a></li>
</ul>