<div class="row">
	<div class="panel panel-default panel-comment">
		<div class="panel-heading">
			<%= comment._id %>
		</div>
		<div class="panel-body">
			<p><%= comment.content %></p>
			<span><%= comment.created.toDateString() %></span>
		</div>
	</div>
</div>